<router-outlet></router-outlet>
<div class="col-md-6 user-container">
    <h2 class="text-center">Add User</h2>

    <form [formGroup]="addForm" (ngSubmit)="onUpdate()">
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" formControlName="nombre" placeholder="Nombre" name="nombre" class="form-control" id="nombre">
        </div>

        <div class="form-group">
            <label for="apellidos">Apellidos:</label>
            <input type="text" formControlName="apellidos" placeholder="Apellidos" name="apellidos" class="form-control" id="apellidos">
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" placeholder="Password" name="password" class="form-control" id="password">
        </div>

        <div class="form-group">
            <label for="correo">Correo:</label>
            <input formControlName="correo" placeholder="correo" name="Correo" class="form-control" id="correo">
        </div>

        <div class="form-group">
            <label for="num_nomina">Num. Nomina:</label>
            <input type="number" formControlName="num_nomina" placeholder="Num.nomina" name="num_nomina" class="form-control" id="num_nomina">
        </div>

        <div class="form-group">
            <label for="tipo">Tipo:</label>
            <input type="number" formControlName="tipo" placeholder="Tipo" name="tipo" class="form-control" id="tipo">
        </div>


        <button class="btn btn-success">Update User</button>
    </form>

</div>