<router-outlet></router-outlet>
<hr class="mt-5" color="#FF6347" style="height: 5px; width: 100%;">
<div class="col-md-6 container">
    <div *ngIf="token"><button (click)="logOut()">Logout</button></div>
    <h2 class="text-center">Agregar usuario</h2>

    <form [formGroup]="addForm">
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" formControlName="nombre" placeholder="Nombre" name="nombre" class="form-control" id="nombre">
        </div>

        <div class="form-group">
            <label for="apellidos">Apellidos:</label>
            <input type="text" formControlName="apellidos" placeholder="Apellidos" name="apellidos" class="form-control" id="apellidos">
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="text" formControlName="password" placeholder="Password" name="password" class="form-control" id="password">
        </div>

        <div class="form-group">
            <label for="correo">Correo:</label>
            <input formControlName="correo" placeholder="Correo" name="correo" class="form-control" id="correo">
        </div>

        <div class="form-group">
            <label for="num_nomina">Num. Nomina:</label>
            <input type="number" formControlName="num_nomina" placeholder="Num.nomina" name="num_nomina" class="form-control" id="num_nomina">
        </div>

        <div class="form-group">
            <label for="tipo">Tipo:</label>
            <input type="text" formControlName="tipo" placeholder="Tipo" name="tipo" class="form-control" id="tipo">
        </div>

        <button type="button" class="btn btn-success btn-block" (click)="onSubmit()">Agregar</button>
    </form>

</div>