<router-outlet></router-outlet>
<div class="container mt-5">
    <hr color="#FF6347" style="height: 5px; width: 100%;">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card">
                <img [src]="agregarUsuario" class="card-img-top" alt="" width="330" height="500">
                <div class="card-body">
                    <button (click)="agregarU()" type="button" class="btn btn-outline-primary btn-block">Agregar Usuario</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img [src]="verUsuario" class="card-img-top" alt="..." width="330" height="500">
                <div class="card-body">
                    <button (click)="verUsuarios()" type="button" class="btn btn-outline-primary btn-block">Lista de usuarios</button>
                </div>
            </div>
        </div>
    </div>
</div>