<router-outlet></router-outlet>
<hr class="mt-5" color="#FF6347" style="height: 5px; width: 100%;">

<div class="container">
    <h2 class="text-center mt-2 mb-3">Lista de usuarios</h2>
    <table class="table table-strip">
        <tr class="bg-dark text-white">
            <td> ID</td>
            <td> Nombre </td>
            <td> Apellidos </td>
            <td> Correo </td>
            <td> Num. Nomina </td>
            <td> Tipo </td>
            <td> Accion </td>

        </tr>

        <tr *ngFor="let user of this.users">
            <td>{{user.id}}</td>
            <td>{{user.nombre}}</td>
            <td>{{user.apellidos}}</td>
            <td>{{user.correo}}</td>
            <td>{{user.num_nomina}}</td>
            <td>{{user.tipo}}</td>
            <td><a href="javascript:void(0);" class="btn btn-success" (click)="edit(user)">Edit</a> /
                <a href="javascript:void(0);" class="btn btn-danger" (click)="deleteUser(user)">Delete</a></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><a [routerLink]="['/add']" class="btn btn-success btn-lg">Add User</a></td>
        </tr>
    </table>


</div>